<!DOCTYPE html>
<html lang="en"   xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
<h1>Account # numbers to come soon</h1>
    <!--
    <form th:action="@{/users/{userId}/accounts (userId=${user.userId})}" method="post">

    </form>
    -->

    <form   th:action="@{/users/{userId}/accounts/{accountId}(userId=${user.userId}, accountId=${account.accountId})}" method="post">
        <input type="text" th:field="${user.accounts}">
        <input type="submit" value="Save Account">

    </form>
    <a href="http://localhost:8080/users">Back to Users</a>
<!--
<div th:each="account: ${useraccount}">
    Account Name :<input type="text" th:text="${account.account_id}">  <br>
    <input type="button" value="Save Account">
</div>
-->




</body>
</html>