<!DOCTYPE html>
<html lang="en"   xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
<h1>Account numbers to come soon</h1>
    <!--
    <form th:action="@{/users/{userId}/accounts (userId=${user.userId})}" method="post">

    </form>
    -->

    <form   th:action="@{/users/{userId}/accounts/new(userId=${user.userId})}" method="post">
        <input type="text" name="accountName" placeholder="Enter Account Name">
        <input type="submit" value="Save Account">
        <br><br><br>
    </form>
    <a	href="http://localhost:8080/users" > <button>Back to Users</button></a> <br>
    <a	href="http://localhost:8080/register" > <button>Register</button></a>

<!--
<div th:each="account: ${useraccount}">
    Account Name :<input type="text" th:text="${account.account_id}">  <br>
    <input type="button" value="Save Account">
</div>
-->




</body>
</html>